# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Backend
NODE_ENV=development
ALLOW_ORIGIN=
DB_HOST=db
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# Authentication
JWT_SECRET=
REFRESH_SECRET=
REFRESH_EXPIRE=30
